/.minecraft/
!/.minecraft/mods/.index/
!/.minecraft/config/
/.minecraft/config/oculus.properties
!/.minecraft/defaultconfigs/
!/.minecraft/kubejs/
!/.minecraft/patchouli_books/
/instance.cfg
/mmc-pack.json
/.idea/
/generators/output/
/generators/input/

