/.minecraft/
!/.minecraft/mods/.index/
!/.minecraft/config/
/.minecraft/config/oculus.properties
!/.minecraft/defaultconfigs/
!/.minecraft/kubejs/
!/.minecraft/patchouli_books/
!/.minecraft/FTBLang
/instance.cfg
/mmc-pack.json
/.idea/
/generators/output/
/generators/input/

/ads.ai
/1x/features.png
/1x/generation.png
/1x/magic.png
/1x/reclamation.png
