/.minecraft/.idea/
/.minecraft/coremods/
/.minecraft/crash-reports/
/.minecraft/local/
/.minecraft/logs/
/.minecraft/mods/
!/.minecraft/mods/.index/
/.minecraft/music_sheets/
/.minecraft/patchouli_books/
/.minecraft/resourcepacks/
/.minecraft/saves/
/.minecraft/schematics/
/.minecraft/screenshots/
/.minecraft/server-resource-packs/
/.minecraft/shaderpacks/
/.minecraft/texturepacks/
/.minecraft/XaeroWaypoints_BACKUP240807/
/.minecraft/xaero/
/.minecraft/.qmenu_opened.marker
/.minecraft/icon.png
/.minecraft/exposures/
/.minecraft/patchouli_data.json
/.minecraft/rhino.local.properties
/.minecraft/usercache.json
/.minecraft/usernamecache.json
/.minecraft/immersive_paintings_cache/
/instance.cfg
/mmc-pack.json
/.idea/
/generators/output/
/generators/input/
